@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

body {
background: url('imagens/fundo-madeira.jpg') center center no-repeat fixed;
background-size: cover;
}

main {
height: 100vh;
position: relative;
}

section#telefone {
 /*LARGURA DA FOTO - SÓ VER NA PROPRIEDADE OU NA PASTA*/ 
height: 627px;
width: 311px;

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

/*DEIXA UMA COR ANTES DA IMAGEM PRA VER COMO ESTÁ O FUNDO
background: green url('imagens/frame-iphone.png') center center no-repeat fixed;*/
background: url('imagens/frame-iphone.png') center center no-repeat fixed;
background-size: contain;
border-radius: 20px;
box-shadow: 0px 35px 10px -5px rgba(0, 0, 0, 0.43);

}


iframe#tela {
position: relative;
top: 5.05em;
left: 1.45em;
width: 16.55em;
height: 29.35em;
}

section#redes-sociais {
  /* float: right; */
text-align: right;
}

section#redes-sociais img {
width: 3.125em;
margin: 0.8em;
border-radius: 50%;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.607);
/*AO COLOCAR ESSA FUNÇÃO, A IMAGEM NÃO SE MEXE QUANDO TIVER O HOVER */
box-sizing: border-box;
}

section#redes-sociais img:hover {
border: 2px solid rgba(255, 255, 255, 0.614);
transform: translate(-3px, -3px);
box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.867);
transition: transform .2s, border .2s;
}